<H1>Weather app</H1>

<h2> Today's Weather in {{name}}</h2>
<ul>
    {{#each data}}
    <li>{{@key}} : {{this}}</li>
    {{/each}}
</ul>
<br>
<a class="btn-style" href="/weather">What's the weather</a>