<h1>Weather Request</h1>

<form action="/weather" method="POST">
    <label for="city">City:</label>
    <input type="text" name="city">
    <label for="code">Country Code:</label>
    <input type="text" name="code">
    <ul>
        <li><label for="sunriseCheck">Sunrise</label>
            <input type="checkbox" name="sunriseCheck"></li>
        <li><label for="sunsetCheck">Sunset</label>
            <input type="checkbox" name="sunsetCheck"></li>
        <li><label for="humidityCheck">Humidity</label>
            <input type="checkbox" name="humidityCheck"></li>
        <li><label for="descriptionCheck">Description</label>
            <input type="checkbox" name="descriptionCheck"></li>
    </ul>
    <input type="submit" value="Submit">
</form>

<br>
{{#if err}}
<h2>{{err}}</h2>>
{{/if}}
{{#if listExists}}
<h2 class="today-weather">Todays weather in {{name}}:</h2>
<ul>
    {{#each data}}
    <li class="weather-types">{{@key}} : {{this}}</li>
    {{/each}}
</ul>
{{/if}}