@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');


*{
    font-family: "Monda", Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.container{
    padding: 20px;
}
nav h1{
    font-size: 40px;
    background-color: thistle;
    padding: 1%;
    border-radius: 15px;
}
.navlist{
    background-color: thistle;
    padding: 5%;
    border-radius: 15px;
    font-size: 20px;
}
.btn-style{
    padding: 5px;
    text-decoration: none;
    background-color: darkgrey;
    color: white;
    border-radius: 5px;
}
ul li {
    list-style: none;
}
nav {
    background-image: url("https://image.freepik.com/free-vector/seamless-pattern-cloud-blue-sky-illustration_53562-4534.jpg");
    background-repeat: repeat-x;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    padding-left: 20px;
}
.today-weather{
    text-decoration: underline;
}
.weather-main-home{
    background-color: teal;
}
.weather-types{
    text-transform: capitalize;
}